{% extends "signup.html" %}

{% block title %}
Legistify|Users
{% endblock %}

{% block link %}
{% url "logout" %}
{% endblock %}
{% block linkname %}
Logout
{% endblock %}


{% load cfilters %}

{% block ll %}
Last login {{ user.last_login|timesince }} ago  
{% endblock %}

  
{% block content %}  

<h3 class="center-align">Welcome {{ user.name }}  </h3>
<h6 class="center-align">Select the person you wish to chat with.Click on the image to start chatting</h6>


<div class="row">
  <div class="col s10 offset-s1">
<ul class="collection">

    {% for u in users %}
    <li class="collection-item avatar">
      {% if u.image %}
      <img src="{{ u.image.url }}" alt="" class="circle">
      {% endif %}
      <span class="title">{{ u.name }}</span>
      <p>{{ u.email }} <br>
         {{ u.address }}<br>
         {{ u.phonenumber }}
      </p>
      {% if u.online %}
   <a href="#!" class="secondary-content"><i class="material-icons">grade</i>Online</a>   
        {% else %}
           <a href="#!" class="secondary-content">Offline</a>   
      {% endif %}
    </li>
    {% endfor %}

  </ul>
  </div>
</div>



{% endblock %}

